
ul,li{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.menu
{
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px gray;
  column-gap: 30px;
}

.menu li{
  cursor: pointer;
  color: black;

}
.menu li:hover{
color: gray;  
}
.auth-contanier{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.auth-menu {
  display: flex;
column-gap: 15px;
}

.auth-menu a{
text-decoration: none;
}
.form > div {
  margin-bottom: 10px;
  }
  .form > div > label {
  display: block;
  }
  .form > div > input,
  .form > div › textarea {
  padding: 20px;
  }